
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}
.display-4{
font-weight: bolder;
}
p{
  font-weight: bold;

}
.social-link{
z-index:99;
}
.text-muted{
  font-weight: bold;
  color:#100C08;
}
