@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');



body{
    background: #0F0404;

}

   .carousel-caption{
    font-size: 30px;
    font-family: 'Mali', cursive;
   }
   .col-lg-6{
    color:#fff;
   }






